@media screen and (max-width: 1020px) {
  #container, #header, #content, #footer {
    float: none;
    width: auto;
  }
 #subtitle, #share, #slider, #sidebar{
    display:none;
  }
  body { font-size: .5em; }
}


@font-face {
   font-family: myFirstFont;
   src: url(fonts/utopia_serif-webfont.ttf);
}

body {
   font-family: myFirstFont;
   font-size: 4em;
	
	font-weight: bold;
	font-style: normal;
	padding: 50px 75px;
}

a:link {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #E6E6E6;
}
a:hover {
	text-decoration: none;
	color: #F00;
}
a:active {
	text-decoration: none; }
	
p {direction: ltr;
text-align: left;
}
